@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to AzureAppDbHosting</h1>
    <p>Manage your Leads and Dog Owners information.</p>
    <div>
        <a class="btn btn-primary" asp-controller="LeadEntities" asp-action="Index">View Owners/Walkers</a>
        <a class="btn btn-secondary" asp-controller="LeadEntities" asp-action="Create">Create Dog Owner/Walker</a>
    </div>
</div>
